<!DOCTYPE html>
<html lang="en" ng-app="sliderDemoApp" id="top">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>AngularUI - Slider demo</title>
	<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" media="all" type="text/css" rel="stylesheet">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	<script type="text/javascript" src="../src/slider.js"></script>
	<style>
		body {
			padding: 2em;
		}
		#sliderExample {
			width: 500px;
			padding: 2em;
			background-color: #f5f5f5;
			border: 1px solid #f0f0f0;
			margin: 2em;
		}
		#sliderExample > div {
			margin: 1em 0;
		}
	</style>
</head>
<body>
	<h1>AngularUI Slider demo</h1>

	<div id="sliderExample" >
		<strong>Step slider</strong>
		<div ui-slider min="0" max="50" ng-model="sliderExample1"></div>
		<input type="number" ng-model="sliderExample1" />
	</div>
	
	<div id="sliderExample" ng-init="sliderExample2=0;min=0;max=20;step=5;">
		<strong>Slider - step value 5</strong>
		<div ui-slider min="{{min}}" max="{{max}}" step="{{step}}" ng-disabled="disabled" ng-model="sliderExample2"></div>
		<input type="number" ng-model="sliderExample2" /><br>
		Min: <input type="number" ng-model="min" />
		Max: <input type="number" ng-model="max" />
		Step: <input type="number" ng-model="step" />
		<label>Disabled: <input type="checkbox" ng-model="disabled" /></label>
	</div>

	<div id="sliderExample" ng-init="sliderExample3=14">
		<strong>Slider - start value 14</strong>
		<div ui-slider min="0" max="20" ng-model="sliderExample3"></div>
		<input type="number" ng-model="sliderExample3" />
	</div>

	<div id="sliderExample" ng-init="sliderExample4=10">
		<strong>Dual sliders - start value 10</strong>
		<div ui-slider min="0" max="20" ng-model="sliderExample4"></div>
		<div ui-slider min="0" max="20" ng-model="sliderExample4"></div>
		<input type="number" ng-model="sliderExample4" />
	</div>

	<div id="sliderExample" >
		<strong>Slider - default min and max (must set an int value first)</strong>
		<div ui-slider ng-model="sliderExample5"></div>
		<input type="number" ng-model="sliderExample5" />
	</div>

	<div id="sliderExample" ng-init="sliderExample6=[10,20]">
		<strong>Slider - range true</strong>
		<div ui-slider="{range:true}" ng-model="sliderExample6"></div>
		<input type="number" ng-model="sliderExample6[0]" />
		<input type="number" ng-model="sliderExample6[1]" />
		<pre>{{sliderExample6}}</pre>
	</div>
	<div id="sliderExample" ng-init="sliderExample7=50">
		<strong>Slider - range max</strong>
		<div ui-slider="{range:'max'}" ng-model="sliderExample7"></div>
		<input type="number" ng-model="sliderExample7" />
		<pre>{{sliderExample7}}</pre>
	</div>
		
	<script>
		angular.module('sliderDemoApp', ['ui.slider']);
	</script>
</body>
</html>