<!DOCTYPE html>
<html lang="en" ng-app="sliderDemoApp" id="top">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>AngularUI - Slider demo</title>
	<base href=".."></base>
  	<link rel="stylesheet" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.css">
	<style>
		body {
			padding: 2em;
		}
		.sliderExample {
			width: 500px;
			padding: 2em;
			background-color: #f5f5f5;
			border: 1px solid #f0f0f0;
			margin: 2em;
		}
		.sliderExample > div {
			margin: 1em 0;
		}
	</style>
</head>
<body ng-controller="sliderDemoCtrl">

	<h1>AngularUI Slider demo</h1>
	<div class="sliderExample">
		<strong>Step slider</strong>
		<div ui-slider min="0" max="50" ng-model="demoVals.sliderExample1"></div>
		<input type="text" ng-model="demoVals.sliderExample1" />
	</div>
	
	<div class="sliderExample">
		<strong>Slider - step value 5</strong>
		<div ui-slider min="0" max="20" step="5" ng-model="demoVals.sliderExample2"></div>
		<input type="text" ng-model="demoVals.sliderExample2" />
	</div>

	<div class="sliderExample">
		<strong>Slider - start value 14</strong>
		<div ui-slider min="0" max="20" ng-model="demoVals.sliderExample3"></div>
		<input type="text" ng-model="demoVals.sliderExample3" />
	</div>

	<div class="sliderExample">
		<strong>Dual sliders - start value 14</strong>
		<div ui-slider min="0" max="20" ng-model="demoVals.sliderExample4"></div>
		<div ui-slider min="0" max="20" ng-model="demoVals.sliderExample4"></div>
		<input type="text" ng-model="demoVals.sliderExample4" />
	</div>

	<div class="sliderExample">
		<strong>Slider - default min and max</strong>
		<div ui-slider ng-model="demoVals.sliderExample5"></div>
		<input type="text" ng-model="demoVals.sliderExample5" />
	</div>

	<div class="sliderExample">
		<strong>Slider - range max (instead of min)</strong>
		<div ui-slider="{range: 'max'}" ng-model="demoVals.sliderExample6"></div>
		<input type="text" ng-model="demoVals.sliderExample6" />
	</div>

	<h2>Examples with decimals</h2>
	
	<div class="sliderExample">
		<strong>Slider - range values, step with decimals</strong>
		<div ui-slider="{range: true}" min="0" max="100" step="0.01" use-decimals ng-model="demoVals.sliderExample7"></div>
		<input type="text" ng-model="demoVals.sliderExample7" />
	</div>

	<div class="sliderExample">
		<strong>Slider - start value 0.34, step with decimals (try increase/decrease with arrow keys)</strong>
		<div ui-slider min="0.00" max="2.00" step="0.01" use-decimals ng-model="demoVals.sliderExample8"></div>
		<div ui-slider min="0.00" max="2.00" step="0.01" use-decimals ng-model="demoVals.sliderExample8"></div>
		<input type="text" ng-model="demoVals.sliderExample8" />
	</div>

	<div class="sliderExample">
		<strong>Slider - start value [-0.52, 0.54], step with decimals from min -1.00 to max 1.00 (try increase/decrease with arrow keys)</strong>
		<div ui-slider="{range: true}" min="-1.00" max="1.00" step="0.01" use-decimals ng-model="demoVals.sliderExample9"></div>
		<div ui-slider="{range: true}" min="-1.00" max="1.00" step="0.01" use-decimals ng-model="demoVals.sliderExample9"></div>
		<input type="text" ng-model="demoVals.sliderExample9" />
	</div>

	<div class="sliderExample">
		<strong>Slider - start value -0.37, step with decimals from min -1.00 to max 1.00</strong>
		<div ui-slider min="-1.00" max="1.00" step="0.01" use-decimals ng-model="demoVals.sliderExample10"></div>
		<div ui-slider min="-1.00" max="1.00" step="0.01" use-decimals ng-model="demoVals.sliderExample10"></div>
		<input type="text" ng-model="demoVals.sliderExample10" />
	</div>
	
	<script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
  	<script type="text/javascript" src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
  	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>	
	<script type="text/javascript" src="src/slider.js"></script>	
	<script>
		var app = angular.module('sliderDemoApp', ['ui.slider']);
		app.controller('sliderDemoCtrl', function($scope) {
		    $scope.demoVals = {
		        sliderExample3:     14,
		        sliderExample4:     14,
		        sliderExample5:     50,
		        sliderExample8:     0.34,
		        sliderExample9:     [-0.52, 0.54],
		        sliderExample10:     -0.37
		    };		
		});
	</script>	
</body>
</html>